.cv-main{
  width: 1100px;  // 打印考虑
  margin: auto;
  margin-top: 15px;
  background: #f8fcfb;
}

.cv-fix-height {
  padding: 5px 0px 5px !important;  // !important 是保证该条样式不被覆盖
}

.cv-fix-content-item {
  padding-left: 8px !important;
}


